html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 25px;
}

.item-cell {
  border: 1px solid #000;
}

.product-cell, #first-cell {
  height: 200px;
  display: table;
}

.product-cell p, #first-cell p {
  position: absolute;
  top: 45%;
  left: 20%;
}

a, a:hover {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

#product-preview-modal {
  min-height: 90%;
  padding: 30px 30px 30px 30px;
}

#website-preview-area {
  height: 100%;
  border: 1px #eee solid;
  margin-top: 10px;
}

#product-preview-form {
  margin-top: 10px;
}
